@import-normalize;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Reset margin, padding, and border */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset typography */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  font-size: 100%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Reset list styles */

ul,
ol {
  list-style: none;
}

/* Reset hyperlink styles */

a {
  text-decoration: none;
  color: inherit;
}

/* Reset form styles */

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
}

button {
  padding: 0;
  cursor: pointer;
}

/* Reset table styles */

table {
  border-collapse: collapse;
}
